@supports (padding: max(0px)) {
	body {
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
		padding-top: env(safe-area-inset-top);
		padding-bottom: env(safe-area-inset-bottom);
	}
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}
html {
	height: -webkit-fill-available;
}
