:root {
	/* Color Variables */
	--color-background: #e1f5fe;
	--color-primary: #83d8ff;
	--color-text: #fff;
	--color-shadow: rgba(0, 0, 0, 0.4);
	--color-border: #ddd;
	--color-empty-slot: #494949;
	--color-day: #66c6f3;
	--color-night: #2581ac;
	--color-modal-bg: rgba(0, 0, 0, 0.5);
	--color-modal-content-bg: #fff;
	--color-button-bg: #3b1e54;
	--color-button-hover-bg: #6f4592;
	--color-button-disabled-bg: #ccc;
	--color-label-bg: #e0e0e0;
	--color-user-changed: yellow;
	--color-synced-changed: greenyellow;
	--color-text-light: #fff;

	/* Font Sizes */
	--font-size-small: 0.8em;
	--font-size-medium: 16px;
	--font-size-large: 24px;
	/* Spacing */
	--spacing-small: 4px;
	--spacing-medium: 8px;
	--spacing-large: 10px;

	/* Border Radius */
	--border-radius: 25px;
	--border-radius-small: 4px;
	--border-radius-large: 8px;

	/* Dimensions */
	--width-people-bar: 100%;
	--width-day-cell: 120px;
	--height-empty-slot: 30px;

	/* Shadow */
	--shadow-drop: 0px 3px 6px var(--color-shadow);
	--shadow-modal: 0 2px 4px var(--color-shadow);

	--glass-bg-color: rgba(173, 173, 173, 0.4); /* Semi-transparent background */
	--glass-blur: 8px; /* Blur intensity */
	--glass-border-color: rgba(455, 255, 255, 0.5); /* Border color */
	--glass-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */

	/* Drag */
	--drag-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	--drag-scale: 1.05;

	/* Scrollbar */

	--scrollbar-width: 10px;
	--scrollbar-thumb-bg: var(--color-primary);
	--scrollbar-thumb-bg-hover: var(--color-primary);
	--scrollbar-thumb-hover-bg: rgba(86, 43, 122, 0.9);
	--scrollbar-track-bg: rgba(238, 238, 238, 0.5);
	--scrollbar-thumb-radius: 5px;
}
* {
	font-family: "IBMPlexMono", monospace;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-image: url("./assets/gwiazdki.gif");
	background-color: var(--color-background);
	background-attachment: fixed;
	image-rendering: pixelated;
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-size: 15px;
}
/* Applies to all scrollable elements */
::-webkit-scrollbar {
	width: var(--scrollbar-width); /* Set the width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg);
	border-radius: 5px;
	backdrop-filter: blur(4px); /* Glass effect on the scrollbar track */
	-webkit-backdrop-filter: blur(4px);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg);
	border-radius: var(--scrollbar-thumb-radius);
	backdrop-filter: blur(4px); /* Glass effect for thumb */
	-webkit-backdrop-filter: blur(4px);
	transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg);
}

.scrollable-container {
	overflow-x: scroll;
	scrollbar-width: thin; /* Firefox's scrollbar width setting */
	scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg); /* Firefox colors */
}
